/*NAVS*/
.promotions {
    background-color: black;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navStyle {
    display: flex;
    height:28px;
    flex-wrap: wrap;
    flex-direction: column ;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;  
    margin-top: 1px;
}

.navStyle :nth-child(1) {
display: flex;
}
.navStyle :nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.whiteFont12px {
    color: white; font-size: 12px;
}

.dropdownMenu{
    display: flex;
    height: 60px;
}

.marginright5px {
margin-right: 2px
}
    
.basicButton {
    font-weight: bold;  
    color: black;      
    padding: 5px;            
    display: inline; 
    background-color: white;       
    border: none;                    
    cursor: pointer; 
}

.navButtons {
    font-size: 12px;              
}
.dropdownButtons {
    font-size: 10px;
    margin-right: 20px;
}
.navButtons:hover {
    background-color: lightgray;
    border-radius: 2px;
}

/*BODY*/

.relativeMovingContainer {
    position: relative; width: 100vw;
}

.oulineButton {
    color: white;
    background: transparent;
    outline: white;
    border: 1px solid white;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.product {
    color: gray;
    font-size: large
}


.gridUsingDiv {
    display: grid; 
    position: relative;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    width: 100%; 
  }

 