.navStyle {
    display: flex;
    height:28px;
    flex-wrap: wrap;
    flex-direction: column ;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;  
}

.navStyle :nth-child(1) {
display: flex;
}
.navStyle :nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.promotions {
    background-color: black;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marginright5px {
margin-right: 2px
}
    
.basicButton {
    font-size: 12px;              
    font-weight: bold;             
    color: black;      
    padding: 5px;            
    display: inline; 
    background-color: white;       
    border: none;                    
    cursor: pointer; 
}

.basicButton:hover {
    background-color: lightgray;
    border-radius: 2px;
}